.div-signin{
    position: fixed;
}
.title-signin {
    position: relative;
    text-align: center;
    max-width: 850px;
    padding: 15px;
    margin: 0 auto;
}
.title-signin h1{
    font-size: 75px;
    color: #EB961C;
}
.title-signin h3{
    color: #FBED7E;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
  border: 3px solid #EB961C;
}
.form-signin input[type="username"] {
  cursor: text;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button {
  position: relative;
}
