<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tunffli - About</title>
    <!--	jQuery     -->
    <script src="../static/js/external/jquery/jquery.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
	<!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet">
	<!-- Bootstrap JS -->
 	<script src="../static/js/bootstrap.min.js"></script>
    <!-- Static -->
    <link rel="icon" href="../static/img/favicon_turn_off.ico">
    <link href="../static/css/tunffli.css" rel="stylesheet">
</head>
<body>
  <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-1 ">
                <button id="btn-back-nsi" class="btn btn-danger" type="button" onclick="window.close();"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
       </div>
       
       <H1 class="theme-text"> About Tunffli </H1>
    </div>
   
    
</body>
</html>